@import './utilits/fonts';
@import './utilits/variables';
@import './base';
@import './utilits/utils';
@import './utilits/texts';

@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/form-terms';
@import './components/format-card';
@import './components/input';
@import './components/links';

@import './layouts/advantages-section';
@import './layouts/chef-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-section';
